@import 'variables';

/*fondo*/

:root{
  --mb-1: .5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
}
:root{
  --z-fixed: 100;
}
body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-family: 'freaky', sans-serif;
  }

  .presentacion {
    position: relative;
    background-image: url('https://res.cloudinary.com/angoooo/image/upload/v1742494372/u5dnagig9yayw8tb0wlo.png'); /* URL de tu imagen de fondo */
    background-size: cover; /* Para que la imagen cubra toda la sección */
    background-position: center center; /* Para centrar la imagen */
    background-repeat: no-repeat; /* Evitar que se repita la imagen */
    width: 100%;
    height: 110vh; /* Ajusta la altura según lo necesites */
  }

  .imagen-fondo{
    min-height: 100vh;
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 2rem;
    margin: auto;
    place-items: center;
    img{
        height: 450px;
    }
  }
  .beige-img{
    display: flex;
    width: 100%;
    img{
      width: inherit;
      position: absolute;
      left: 0;
      z-index: 1;
    }
  }


.perfil{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  background: linear-gradient(to top, #FBDFE7, #FEFAEF);
  padding: 8vw 10vw;
  margin: 0px 5vw;
  border-radius: 60px;
  padding-bottom: 50px;
}
.sobre-mi {
  width: 100%; /* Asegura que ocupe el ancho completo */
  display: flex;
  justify-content: center; /* Centra la imagen horizontalmente */
}

.sobre-mi img {
  width: 50%; /* Asegura que la imagen ocupe todo el ancho del contenedor */
  height: auto; /* Mantiene la relación de aspecto original */
  max-width: 100%; /* Se asegura de que la imagen no se estire más allá de su tamaño original */
  display: block; /* Elimina el espacio blanco debajo de la imagen */
  opacity: 0; /* Inicialmente oculta para animación */
}

/* Grid container para los elementos */
.about__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  max-width: 1200px;
  width: 100%;
  opacity: 0;
}

/* Estilos de la imagen */
.about__img img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

/* Estilo del texto */
.caja-texto {
  padding: 20px;
}
.about__text_1{
  font-size: 7rem;
  color: #bf0d47;
  font-family: PP Neue Corp Tight, Arial, sans-serif;
  
 }
.about__text {
  font-size: 1.1rem;
  color: $rosa-ango;
  font-family: "Hanken Grotesk", sans-serif;
  padding: 10px;
}

.aplicaciones{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  background: #DECEEF;
  background-image: url('https://res.cloudinary.com/angoooo/image/upload/v1741230867/ec8cfsljh2veapjdunyv.png'); 
  background-size: cover;
  background-position: center;
  padding: 10px 10vw;
  margin: 0px 5vw;
  border-radius: 60px;
  padding-bottom: 40px;
  padding-top: 40px;
  margin-top: 3rem;

}


.skills__img {
  display: flex;               /* Usamos flexbox para centrar la imagen */
  justify-content: center;     /* Centra la imagen horizontalmente */
  align-items: center;         /* Centra la imagen verticalmente */
  width: 100%;                 /* Asegura que el div ocupe el 100% del contenedor */
  height: 100%;                /* Asegura que el div tenga una altura del 100% del contenedor */
}

.skills__img img {
  width: 60%;                  /* La imagen ocupa el 70% del tamaño del div */
  height: auto;                /* Mantiene la relación de aspecto de la imagen */
  object-fit: cover;           /* Asegura que la imagen cubra el área del contenedor sin distorsionarse */
}


.nav-wrap {
  z-index: 100;
  pointer-events: none;
  justify-content: center;
  align-items: flex-end;
  display: flex;
  inset: 0 0 10vh;
  padding-top: 2rem;
}

.nav-list {
  flex-flow: row;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 0;
  padding-left: 0;
  display: flex;
  font-size: 1.4vw;
}

.nav-item {
  justify-content: center;
  align-items: center;
  width: 5em;
  transition: width .5s cubic-bezier(.16, 1, .3, 1);
  display: flex;
  position: relative;
}

.nav-item.hover {
  width: 8em;
}

.nav-item.sibling-close {
  width: 7em;
}

.nav-item.sibling-far {
  width: 6em;
}

.nav-item__link {
  z-index: 1;
  pointer-events: auto;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-left: .5em;
  padding-right: .5em;
  display: flex;
  position: relative;
}

.image {
  object-fit: contain;
  width: 100%;
}

.nav-item__tooltip {
  z-index: 0;
  color: #ffffff;
  opacity: 0;
  white-space: nowrap;
  border-radius: .25em;
  padding: .4em .5em;
  font-size: 1em;
  transition: transform .5s cubic-bezier(.16, 1, .3, 1), opacity .5s cubic-bezier(.16, 1, .3, 1);
  position: absolute;
  top: 0;
  transform: translate(0, -80%);
  font-weight: 400;
}

.nav-item:hover .nav-item__tooltip{
	opacity: 1;
  transform:translate(0px, -140%);
}

.personal{
  padding-top: 5%;
  padding-bottom: 5%;
}

.viewport1{
  position:relative;
  margin: auto;
  height: auto;
  width:100%;
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; 
}

.viewport2{
  position:relative;
  margin: auto;
  height: auto;
  width:100%;
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; 
}


.card p {
  margin:0px;
  color: black;
  font-weight: 400;
  font-size:15px;
  line-height:90%;
  padding-left: 8%;
  padding-right: 8%;
  padding-top:3%;
  padding-bottom:8%;
  border-radius:20px;
  cursor:pointer;
  transition: ease 1s;
  -webkit-transition: ease 1s;
}

.card h3 {
  font-family: lato;
  margin:0px;
  color: black;
  font-weight: 400;
  font-size:20px;
  line-height:90%;
  padding-left: 8%;
  padding-top:8%;
  padding-bottom:3%;
  border-radius:20px;
  cursor:pointer;
  transition: ease 1s;
  -webkit-transition: ease 1s;
}

h1 {
  font-family: lato;
  color:#555;
  font-weight: 400;
  font-size:35px;
  line-height:40px;
  padding-bottom:50px;
  padding-top:50px;
  position:relative;
  text-align:center;
  
}

.title {
  width:78%;
  margin:auto;
  padding-left:0px;
  padding-bottom:0px;
}

.cards {
  width:90%;
  max-width: 1440px;
  position:relative;
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  
  
}

.card {
  background-color:( #fc96b8);
  border-radius: 30px;
  width: 350px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 10px;
  transition: 1s;
  -webkit-transition:0.5s;
  cursor:pointer;
    flex: 1 1 auto;
  

}


.job{
  display: flex; /* Flexbox layout */
  justify-content: space-between; /* Space between the two elements */
}
.uno {
  flex: 1; /* Both .01 elements take equal space */
  padding: 10px; /* Optional padding */
}

/* Estilo general de la tarjeta */
.card {
  position: relative; /* Asegura que el texto se pueda posicionar encima de la imagen */
  overflow: hidden; /* Para asegurar que el texto no sobresalga del contenedor */
  cursor: pointer; /* Para que el mouse cambie al pasar por encima */
}

/* Imagen dentro de la tarjeta */
.img-hover-text {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.img-hover-text img {
  width: 100%; /* La imagen ocupa el 100% del ancho del contenedor */
  height: 100%; /* La imagen ocupa el 100% del alto del contenedor */
  object-fit: cover; /* Mantiene la proporción y cubre el área del contenedor */
  transition: opacity 0.3s ease;
}

/* Texto centrado dentro de la tarjeta */
.company2 {
  position: absolute; /* Posiciona el texto encima de la imagen */
  top: 50%; /* Centra el texto verticalmente */
  left: 50%; /* Centra el texto horizontalmente */
  transform: translate(-50%, -50%); /* Ajusta el texto para que esté completamente centrado */
  color: white; /* Color del texto */
  opacity: 0; /* Inicia el texto invisible */
  transition: opacity 0.3s ease; /* Transición suave para el hover */
  text-align: center; /* Centra el texto en caso de que sea multilinea */
  font-weight: bold; /* Hace que el texto sea más visible */
}

.company2 a {
  color: white; /* Color del texto */
  text-decoration: none; /* Eliminar subrayado */
}

/* Efecto hover: cuando el cursor pasa por encima de la tarjeta */
.card:hover .company2 {
  opacity: 1; /* Muestra el texto cuando se hace hover */
}

.card:hover .img-hover-text img {
  opacity: 0.3; /* Opcional: hace que la imagen se opaque al hacer hover */
}





.card h2 {
  font-size: 5em;
  margin: auto;
  text-align: center;
  color: #ffffff; /* Color para el título */
  padding-bottom: 0.5em;
}
.card p {
  margin: 0;
  font-family: "Hanken Grotesk", sans-serif;
  color: #ffffff;
}

.card .company {
  color: #ffffff;
  font-size: 1.5em;
  font-weight: bold;
  margin: 0px;
  padding-bottom: 0px;
}

.card .date-range {
  font-size: 0.9em;
  color: #eaeaea;
  margin: 0px;
  padding-bottom: 8px;
}

.card .job-title {
  font-size: 1em;
  font-weight: bold;
  color: #ffffff;
  margin: 0px;
  padding-bottom: 8px;
}

.card .responsibilities {
  margin: 0px;
  padding-bottom: 0px;
}

.card .responsibilities ul {
  list-style-type: none;
  padding-left: 0;
}

.card .responsibilities ul li {
  margin: 5px 0;
}

@media (min-width: 40em){
  .card{
  width:45%;
  margin:2.5%;
  }
}

@media (min-width: 64em){
  .card {
  width:31%;
  max-width: 31%;
  margin:1.13%;
  
    &:nth-child(9n - 5),&:nth-child(9n +1),&:nth-child(9n){
    width: 62%;
    max-width: 62%;
    }
  
    &:last-of-type {
      max-width: 31%;
    }
  }
}

.card_img{
  width:100%;
  height: 20em;
  position:reltive;
  border-radius: 5px 5px 0px 0px;
  background-size: cover;
  background-position:center center; 
  background-color: #a2cac8;
  transition:1s;
  -webkit-transition:1s;
}


.title input{
  background: transparent;
  border:1px solid white;
  padding-top:10px;
  padding-bottom:10px;
  padding-left:20px;
  display:inline;
  color: white;
  font-size:18px;
  line-height:90%;
  border-radius:30px;
  width:150px;
  float:right;
  margin-top:30px;
}

.title textarea:focus, input:focus{
    outline: none;
}


.zoomed{
  width:100%;
}

.fortalezas {
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}
h2 {
  margin-bottom: 15px;
  color: #333;
}
.tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
  padding-bottom: 30px;
}
.tag {
  padding: 5px 12px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: bold;
  border: 2px solid;
}
.purple { border-color: #a485fc; color: #333; }
.orange { border-color: #f4a261; color: #333; }
.green { border-color: #76c893; color: #333; }
.red { border-color: #e63946; color: #333; }
.pink { border-color: #ff66b2; color: #333; }
.blue { border-color: #457b9d; color: #333; }




.contacto {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 110px;
  background-color: #EE6984; /* Ajusta el color de fondo si es necesario */
  padding: 0 50px; /* Margen interno solo a los lados */
}

.contact-us .brand {
  color: white;
  font-size: 18px;
  text-decoration: none;
}

.social-media {
  display: flex;
  gap: 15px; /* Espaciado entre los iconos */
}

.social-media-icons {
  text-decoration: none;
  display: flex;
  align-items: center;
}


/*media querie*/


@media screen and (min-width: 1024px){
  .bd-grid{
      margin-left: auto;
      margin-right: auto;
  }
  
}
  @media (max-width:900px){
    .imagen-fondo{
      height: 570px;
    }
    .bd-grid{
      margin-left: auto;
      margin-right: auto;
  }
    .imagen-fondo img{
        display: block;
        height: 320px;
    }
    .about__container{
      display: block;
      justify-content: space-between;
      align-items: center;
      row-gap: none;
      text-align: justify;
    }
   .about__subtitle{
    text-align: center;
   }
    
  }
  @media screen and (min-width: 850px){
    body{
      margin: 0;
  }
  .bd-grid{
    max-width: 1250px;
    display: grid;
}
  .section{
      padding-top: 4rem;
  }
  .about__container{    
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-around;
    align-items: center;
    text-align: initial;
   
    }
    .about__subtitle{
      padding-top: 8rem;
    }
    .habilidades{
      background-color: $pastel;
      height: 660px;
      h1{
        font-size: 30px;
      }
    }
    .subhabilidad{
      font-size: 20px;
    }
    .habi{
      display: block;
      height: 250px;
    }
    .conocimientos{
      height: 660px;
      h1{
        font-size: 30px;
      }
      .skills{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
      }
      .skills section{
        margin: 30px;
        padding-top: 1.2rem;
      }
      .skills section p {
        float:left;
        max-width:50%;
        word-break:break-word;
        margin:0 20px;
      }
      .skills section span {
        margin:0 1.8px;
      }
    }
    .contact-us .brand{
      font-size: 20px;
    }
    .about h1 {
      font-size: 20px;
    }
  }
  @media screen and (min-width: 800px){
    body{
      margin: 0;
  }
  .section{
      padding-top: 4rem;
  }
  .imagen-fondo{
    height: 550px;
    margin-bottom: 5rem;
  }
  .beige-img img {
    top: 5%; /* Ajusta la imagen a una posición más alta en pantallas más pequeñas */
  }
  .habi{
    display: block;
    height: 300px;
  }
  }

  @media (max-width:768px){
    .presentacion {
      position: relative;
      background-image: url('https://res.cloudinary.com/angoooo/image/upload/v1742494529/huguq8baq9hmiqofwgqx.png'); /* URL de tu imagen de fondo */
    }

    .perfil{
      margin: 0px 5vw;
      border-radius: 40px;
      padding-bottom: 50px;
    }
  
    .imagen-fondo img{
        display: block;
        height: 230px;
    }
    .sobre-mi img {
      width: 100%; /* Asegura que la imagen ocupe todo el ancho del contenedor */

    }
    .about__text p{
      font-size: 3rem;
    }
    .about__container{
      padding-bottom: 1rem;
    }

   .beige-img{
    display: flex;
    width: 100%;
    height: 100%;
    img{
      width: inherit;
      position: absolute;
      left: 0;
      bottom: 0;
    }
  }

  .skills__img {
    display: flex;               /* Usamos flexbox para centrar la imagen */
    justify-content: center;     /* Centra la imagen horizontalmente */
    align-items: center;         /* Centra la imagen verticalmente */
    width: 100%;                 /* Asegura que el div ocupe el 100% del contenedor */
    height: 100%;                /* Asegura que el div tenga una altura del 100% del contenedor */
  }
  
  .skills__img img {
    width: 100%;                  /* La imagen ocupa el 70% del tamaño del div */
    height: auto;                /* Mantiene la relación de aspecto de la imagen */
    object-fit: cover;           /* Asegura que la imagen cubra el área del contenedor sin distorsionarse */
  }

   .about__subtitle{
    font-size: 28px;
    padding-top: 4rem;
   }
   .about__text_1{
    font-size: 2.3rem;
    padding: 20px;
    text-align: center;
   }
   .cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    padding: 10px 10vw;
    margin: 0px 3vw;
    border-radius: 60px;
    margin-top: 1rem;    
    
  }
  
  .card {
    width: 100%;
    max-width: 320px;
    padding: 40px 30px;
    border-radius: 30px;
  
  }  

  .card p {
    font-size:14px;
    line-height:100%;
    font-family: "Hanken Grotesk", sans-serif;
  }
.personal{
  padding-top: 0;
}
  .card h2  {
    line-height: 1;
  }
  
.job{
  display: flex; /* Flexbox layout */
  justify-content: space-between; /* Space between the two elements */
  flex-direction: column;
}
.uno {
  flex: 1; /* Both .01 elements take equal space */
  padding: 10px; /* Optional padding */
}

.contacto {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 110px;
  background-color: #EE6984; /* Ajusta el color de fondo si es necesario */
  padding: 0 50px; /* Margen interno solo a los lados */
}

.contact-us .brand {
  color: white;
  font-size: 14px;
  text-decoration: none;
}

.social-media {
  display: flex;
  gap: 12px; /* Espaciado entre los iconos */
}

.social-media-icons {
  text-decoration: none;
  display: flex;
  align-items: center;
}

  }

  
  