$rosa-ango: #bf0d47;
$blanco: #ffff;
$principal: #ec9294;
$negro: #000000;
$gris: #e6e2e2;
$morado: #501e53;
$morado-negro: #3f1638;
$naranja: #F96733;
$pastel: #FBDFE7;
$beage: #FEFAEF;

  @import url('https://fonts.googleapis.com/css2?family=Gloock&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
